<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-5 col-lg-4">

      <app-battle-card
          *ngIf="challenger"
          [critter]="challenger"
          [isChallenger]="true"></app-battle-card>

      <div class="card text-center p-5"
            style="min-height: 15rem;"
            *ngIf="!challenger">
        <div class="card-body mt-4">
          <app-opponent-selection-modal
            (critterSelected)="onSelect( true, $event )"></app-opponent-selection-modal>
        </div>
      </div>

    </div>
    <div class="col-6 col-sm-5 col-lg-4">

      <app-battle-card
          *ngIf="opponent"
          [critter]="opponent"
          [isChallenger]="false"></app-battle-card>

      <div class="card text-center p-5"
            style="min-height: 15rem;"
            *ngIf="!opponent">
        <div class="card-body mt-4">
          <app-opponent-selection-modal
            (critterSelected)="onSelect( false, $event )"></app-opponent-selection-modal>
        </div>
      </div>

    </div>
  </div>

<!--
  <div class="row justify-content-md-center">
    <div class="col text-center">
      <h4>
        <span *ngIf="challenger.battleInfo.totalLife > 0 && opponent.battleInfo.totalLife > 0">
          <strong>{{ challenger.name }}</strong> vs <strong>{{ opponent.name }}</strong>
        </span>
        <span *ngIf="challenger.battleInfo.totalLife == 0 || opponent.battleInfo.totalLife == 0">
          {{ challenger.battleInfo.totalLife > 0 ? challenger.name : opponent.name }} is the WINNER!
        </span>
      </h4>
    </div>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-6 col-sm-5 col-lg-4">
      <app-battle-card [critter]="challenger" [isChallenger]="true"></app-battle-card>
    </div>

    <div class="col-6 col-sm-5 col-lg-4">
      <app-battle-card [critter]="opponent" [isChallenger]="false"></app-battle-card>
    </div>

  </div> -->
</div>

