<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center p-5">
        <app-opponent-selection-modal></app-opponent-selection-modal>
      </div>
    </div>
    <div class="col">
      <div class="card text-center p-5">
        <div class="crad-body">
          <app-opponent-selection-modal></app-opponent-selection-modal>
        </div>
      </div>
    </div>
  </div>


  <div class="row justify-content-md-center">
    <div class="col text-center">
      <h4>
        <span *ngIf="challenger.battleInfo.totalLife > 0 && opponent.battleInfo.totalLife > 0">
          <strong>{{ challenger.name }}</strong> vs <strong>{{ opponent.name }}</strong>
        </span>
        <span *ngIf="challenger.battleInfo.totalLife == 0 || opponent.battleInfo.totalLife == 0">
          {{ challenger.battleInfo.totalLife > 0 ? challenger.name : opponent.name }} is the WINNER!
        </span>
      </h4>
    </div>
  </div>

  <div class="row justify-content-md-center">

    <div class="col-6 col-sm-5 col-lg-4">
      <app-battle-card [critter]="challenger" [isChallenger]="true"></app-battle-card>
    </div>

    <div class="col-6 col-sm-5 col-lg-4">
      <app-battle-card [critter]="opponent" [isChallenger]="false"></app-battle-card>
    </div>

  </div>
</div>

