<div class="album py-5 ">
  <div class="container">

    <div class="row">
      <div class="col-md-3" *ngFor="let critter of critters; let i = index">

        <div class="card mb-4 box-shadow">
          <div class="card-img-top" >
            <app-critter [critter]="critter"></app-critter>
          </div>

          <div class="card-body">
            <p class="card-text">
              This is {{ critter.name }}.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="checkOut(i)">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="selectForSex(i)" appSelect>Breed</button>
              </div>
              <small class="text-muted">{{ calcAge(critter.bday) }}</small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
