#wrapper {
  display: inline;
}

.mat-card {
  margin: .5rem;
  max-width: 8rem;
  display: inline-block;
}

.text-center {
  text-align: center;
}

/* .mat-card:hover {
  cursor: pointer;
} */

/*
.card:active {
  background-color: grey;
}
*/

.isSelected {
  box-shadow: 0 0.2rem 0 0 #28a745;
}

.mat-slide-toggle {
  margin-bottom: .5rem;
}
