#wrapper {
  display: inline;
}

.card {
  margin: 1rem;
  background-color: #f8f9fa;
  max-width: 9rem;
  display: inline-block;
}

.card:hover {
  cursor: pointer;
}

.card:active {
  background-color: grey;
}

.text-center {
  font-size: 12px;
}

.isSelected {
  box-shadow: 0 0.2rem 0 0 #28a745;
}
