
<div class="row" >
  <div class="col-xs-12">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" style="margin: 1rem;">
      <div class="row">

        <div class="col-sm-6 col-xs-12">
          <label for="dna">Type in some DNA! (1's & 0's)</label>
          <input id="dna"
                  class="form-control"
                  name="dna"
                  type="text"
                  maxlength="8"
                  minlength="8"
                  ngModel
                  required >

        <!-- <label for="mom">Moms Eye Color</label>
          <select id="mom"
                  class="form-control"
                  name="mom"
                  ngModel
                  required >
            <option value="0000" selected>Purple (AA)</option>
            <option value="0001">Purple + Blue recessive (Aa)</option>
            <option value="0101">Blue (aa)</option>
          </select>
        </div> -->

        </div>
      </div>

      <div class="row" style="margin-top: 1rem;">

        <div class="col-xs-2">
          <button class="btn btn-success"
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!f.valid" >Make Babe</button>
        </div>

      </div>
    </form>

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div id="container">

          <div class="creature">
            <div class="leaf"></div>
            <div class="babeleaf"></div>
            <div class="leafline"></div>
            <div class="eye" [style.background-color]="this.babe.eyeColor">
              <div class="eyeleft"></div>
            </div>
            <div class="lichaam" [style.background-color]="this.babe.bodyColor">
              <div class="mouth"></div>
              <div class="feet">
                <div class="feetleft"></div>
              </div>
            </div>
            <div class="arms">
              <div class="armleft"></div>
            </div><span *ngIf="babe.isMutant">💩</span>
          </div>

        </div>
      </div>
    </div>

    <div class="row" *ngIf="babe">
      <div class="col-sm-6 col-xs-12">
        <h3 class="text-center">This babe's info.</h3>
        <p class="text-center">
          <strong>DNA</strong>: {{ babe.dna }}<br>
          <strong>Gene List</strong>: {{ babe.geneList }}<br>
          <strong>Eye Color</strong>: {{ babe.eyeColor }}<br>
          <strong>Body Color</strong>: {{ babe.bodyColor }}<br>
        </p>
      </div>
    </div>

  </div>
</div>
