
<div class="row" >
  <div class="col-xs-12">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" style="margin: 1rem;">
      <div class="row">

        <div class="col-sm-3 col-xs-5">
          <label for="mom">Moms Eye Gene</label>
          <select id="mom"
                  class="form-control"
                  name="mom"
                  ngModel
                  required >
            <option value="AA" selected>Indigo (AA)</option>
            <option value="Aa">Indigo + Blue recessive (Aa)</option>
            <option value="aa">Blue (aa)</option>
          </select>
        </div>

        <div class="col-sm-3 col-xs-5">
          <label for="dad">Dads Eye Gene</label>
          <select id="dad"
                  class="form-control"
                  name="dad"
                  ngModel
                  required >
            <option value="AA" selected>Indigo (AA)</option>
            <option value="Aa">Indigo + Blue recessive (Aa)</option>
            <option value="aa">Blue (aa)</option>
          </select>
        </div>

      </div>
      <div class="row" style="margin-top: 1rem;">

        <div class="col-xs-2">
          <button class="btn btn-success"
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!f.valid" >Do Sex</button>
        </div>

      </div>
    </form>

    <div class="row">
      <div class="col-sm-6 col-xs-10">
        <div id="container">

          <div class="creature">
            <div class="leaf"></div>
            <div class="leafline"></div>
            <div class="lichaam">
              <div class="eye" [style.background-color]="getEyeColor()">
                <div class="eyeleft" [style.background-color]="getEyeColor()"></div>
              </div>
              <div class="mouth"></div>
            </div>
            <div class="feet">
              <div class="feetleft"></div>
            </div>
            <div class="arms">
                <div class="armleft"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row" *ngIf="babe.eyes">
      <div class="col-sm-6 col-xs-10">
          <p class="text-center">This babe has <strong>{{ babe.eyes }}</strong> eyes and the '<strong>{{ babe.dna }}</strong>' gene.</p>
      </div>
    </div>

  </div>
</div>
