<div class="container" *ngIf="critter">

  <div class="row justify-content-md-center" style="text-align:center; background-color: white" >
    <div class="col-md-4 text-center">

      <app-critter [critter]="critter"></app-critter>

    </div>
  </div>

  <div class="row pt-3">
    <div class="col">

      <div>
        <h2>This is {{ critter.name }}</h2>
        <strong>About me:</strong>
        <p>Hi dude!  I have {{ critter.eyeColor }} eyes and a {{ critter.bodyColor }} colored body.  I'm {{ critter.sex === 'male' ? 'a boy' : 'a girl' }} and I am {{ critter.isMutant ? 'a mutant.' : 'not a mutant.' }}</p>
        <strong>Birthday</strong>
        <p>{{ critter.bday | date:'M/d/yy h:mm a' }}</p>
        <strong>Actions</strong>
        <p>
          <button type="button" class="btn btn-success" appSelect>breed</button>
          <button type="button" class="btn btn-success" appSelect>battle</button>
        </p>
      </div>

    </div>
  </div>
</div>
