<mat-grid-list cols="4" rowHeight="100px" gutterSize="0">

  <mat-grid-tile
      colspan="4"
      rowspan="4"
      [style.background]="'#f9f8f6'">
    <app-critter style="text-align:center;" [critter]="critter"></app-critter>
  </mat-grid-tile>

  <!-- <mat-grid-tile
      colspan="1"
      rowspan="3"></mat-grid-tile> -->

  <mat-grid-tile
      colspan="4"
      rowspan="3"
      style="margin: 0 1rem;">
    <div>
      <h2>This is {{ critter.name }}</h2>
      <strong>About me:</strong>
      <p>Hi dude!  I have {{ critter.eyeColor }} eyes and a {{ critter.bodyColor }} colored body.  <br>I'm {{ critter.sex === 'male' ? 'a boy' : 'a girl' }} and I am {{ critter.isMutant ? 'a mutant.' : 'not a mutant.' }}</p>
      <strong>Birthday</strong>
      <p>{{ critter.bday }}</p>
    </div>
  </mat-grid-tile>

  <!-- <mat-grid-tile
      colspan="1"
      rowspan="3"></mat-grid-tile> -->

</mat-grid-list>
