<div class="container" *ngIf="babe">

  <div class="row">
    <div class="col-md-3">

      <div class="card mb-4 box-shadow" style="background-color: whitesmoke">
        <div class="card-img-top text-center" >
            <app-critter [critter]="babe"></app-critter>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ babe.name }} is the babe
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text">
              <strong>DNA</strong>: {{ babe.dna }}<br>
              <strong>Gene List</strong>: {{ babe.geneList }}<br>
              <strong>Eye Color</strong>: {{ babe.eyeColor }}<br>
              <strong>Body Color</strong>: {{ babe.bodyColor }}<br>
              <strong>Sex</strong>: {{ babe.sex }}<br>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      <div class="card mb-4 box-shadow" style="background-color: whitesmoke">
        <div class="card-img-top text-center" >
            <app-critter [critter]="dad"></app-critter>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ dad.name }} is the father
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text">
              <strong>DNA</strong>: {{ dad.dna }}<br>
              <strong>Gene List</strong>: {{ dad.geneList }}<br>
              <strong>Eye Color</strong>: {{ dad.eyeColor }}<br>
              <strong>Body Color</strong>: {{ dad.bodyColor }}<br>
              <strong>Sex</strong>: {{ dad.sex }}<br>
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">

      <div class="card mb-4 box-shadow" style="background-color: whitesmoke">
        <div class="card-img-top text-center" >
            <app-critter [critter]="mom"></app-critter>
        </div>

        <div class="card-body">
          <p class="card-text">
            {{ mom.name }} is the mother
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="card-text">
              <strong>DNA</strong>: {{ mom.dna }}<br>
              <strong>Gene List</strong>: {{ mom.geneList }}<br>
              <strong>Eye Color</strong>: {{ mom.eyeColor }}<br>
              <strong>Body Color</strong>: {{ mom.bodyColor }}<br>
              <strong>Sex</strong>: {{ mom.sex }}<br>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
